<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pivotal Search</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://apps.bdimg.com/libs/html5shiv/r29/html5.min.js"></script>
    <![endif]-->
    <!-- styles -->
      <title>main</title>
</head>
<body>
       <h1>welcome</h1>
       <p><%= response.serialNum %></p>
       <input id="dotData" type="text">
       <button id="btn">emit</button>
       <script src="javascripts/socket.io.js"></script>
       <script src="javascripts/sockettest.js"></script>
</body>
</html>